*{
  margin: 0;
  padding: 0;
}

#Home{
  /* background-image: url(./Images/Hero.jpg); */
}



body{
  background-image: url(./Images/io.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

.lastline{
 background-color: black;
}

body::-webkit-scrollbar{
  display: none;
}

html{
  scroll-behavior: smooth;
}
.lol{
  background-image: url(./Images/io.jpg);
}