*{
  margin: 0;
  padding: 0;
}

#Home{
  /* background-image: url(./Images/Hero.jpg); */
}

::backdrop{
  filter: blur(10px);
}
body{
  background-image: url(./Images/Background.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:right;
  background-size:auto;
}

.lastline{
 background-color: #030838;
}

body::-webkit-scrollbar{
  display: none;
}

html{
  scroll-behavior: smooth;
}